.collapsible {
    background-color: #2980b9;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    width: 50vw;
    align-content: center;
    margin-bottom: 25px;
    text-decoration: none;
    outline: none;
}

.active, .collapsible:hover, .collapsible:active, .collapsible::selection, .collapsible:default, .collapsible:focus {
    background-color: #2980b9;
    text-decoration: none;
    outline: none;
}

.active {
    animation-name: animatetop;
    animation-duration: 0.5s;
    border-radius: 5px;
    text-decoration: none;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    animation-name: animatetop;
    animation-duration: 0.5s;
    border-radius: 5px;
    width: 55vw;
    position: relative;
    outline: none;
}

.content-video {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    animation-name: animatetop;
    animation-duration: 0.5s;
    border-radius: 5px;
    width: 65vw;
    position: relative;
    outline: none;
}

.sizer {
    width: 50vw;
}

@keyframes animatetop {
    from {top: 300px; opacity: 0};
    to {top: 0; opacity: 1};
}