html {
    min-height: 100%;
}

body {
    margin: 0;
    background: rgb(96,92,60);
    background: linear-gradient(to top, #6dd5fa, #ffffff);
}

header, p , form {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

footer {
    text-align: center;
    border-radius: 15px;
    bottom: 15px;
}

a {
    color: white;
    -webkit-text-size-adjust: 148px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    display: inline;
    text-align: center;
}

.nav-bar {
    padding: 0px;
    margin-top: 0px;
    position: fixed;
    width: 100%;
    height: 5hv;
    background: #fff;
    opacity: 0.7;
    overflow: hidden;
    z-index: 999;
}

.left {
    float: left;
    color: #1f1f1f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.right {
    float: right;
    color: #1f1f1f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.left:hover, .right:hover {
    background: black;
    text-decoration: none;
    color: #fff;
}

header {
    font-weight: bolder;
    font-size: 36px;
}

#subtitle {
    font-size:32px;
}

.logo {
    padding-top: 50px;
}

.bottom-line {
    border: 1px solid black;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

.social-media {
    padding-top: 15%;
    padding-bottom: 3%;
    margin-top: auto;
}

#small-logo {
    height: 50px;
    width: 50px;
}

.divider{
    padding-left: 100px;
    display: inline;
}

@media only screen and (max-width: 500px) {
    .divider {
        padding: 0 0 0 0;
    }
}

.upload-button, .upload-button-text {
    background-color: #2980b9;
    border: 1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: inline;
  }


.upload-window, .upload-window-text {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 15%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.upload-window-header, .upload-window-header-text {
    padding: 2px 16px;
    background-color: #ACBB78;
    color: white;
  }

.upload-window-content, .upload-window-content-text {
    background-color: darkslategray;
    margin: auto;
    top: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 50hv;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.5s;
    border-radius: 5px;
}

.close, .closeText {
    color: #ffffff;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus, .closeText:hover, .closeText:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

#is-blurred {
    filter: blur(1000px);
}