table {
    text-align: center;
    width: 80vw;
    margin: left;
}

a {
    text-decoration: none;
    color: turquoise;
}

input[type=text], input:active {
    max-width: 15vw;
    min-height: 1vh;
    text-align: center;
    background: #6DD5FA !important;
    color: #1f1f1f;
}