body {
    min-height: 200%;
}

input[type=text] {
    display: flex;
    border-radius: 5px;
    width: 30vw;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none rgba(60, 59, 63, 0.6);
    background: #6DD5FA !important;
    color: #1f1f1f;
}

.shareLink {
    text-align: center;
    width: 15vw;
}

#linksContainer {
    flex-direction: column;
}

#image {
    width: 30vw;
    height: auto;
    align-self: center;
    align-items: center;
    text-align: center;
}

#list {
    border: 5px black;
    border-radius: 5px;
}

#list p, #iframeText {
    font: arial;
    font-size: 18px;
    background-color:#2980b9;
}

h4 {
    text-align: center;
}

#title {
    background-color: #1f1f1f;
    border-radius: 500px;
    font-size: 28px;
    text-align: center;
    float: center;
    align-self: center;
    align-content: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textArea {
    width: 50%;
    height: 20vh;
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #6DD5FA !important;
    resize: none;
    border: none transparent;
}