<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
</html>

<footer class="center social-media">
    <br>
    Follow me on social media
    <hr class="bottom-line">
    <a href="https://twitter.com/Lernaeus_" target="_blank"><img src="../static/css/Twitter Logo.png" id="small-logo"></a>
    <a href="https://discord.gg/HbwzrPm" target="_blank"><img src="../static/css/Discord Logo.png" id="small-logo"></a>
    <a href="https://github.com/GabrielMares00" target="_blank"><img src="../static/css/Github Logo.png" id="small-logo"></a>
</footer>